<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>OuCeKonMange</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body>
        <div class="header">
            <img src="" alt="logo image" style="display: block;" width="300" height="230"/>
        </div>
        <br/>
        <br/>
        <div class="body">
            {{body}}
        </div>
        <br/>
        <br/>
        <div class="footer">
            <img src="" alt="footer image" style="display: block;" width="300" height="230"/>
        </div>
    </body>
</html>